<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- SITE TITLE -->
		<title>Floweer - Flower & Florist Shop HTML Template</title>
		<!-- Google Fonts -->
		<link href="static/css/css2.css" rel="stylesheet">
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/logo/favicon.png" type="image/x-icon">
		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/animate.min.css">
		<link rel="stylesheet" href="static/css/nice-select.min.css">
		<link rel="stylesheet" href="static/css/theme-spacing.css">
		<link rel="stylesheet" href="static/css/all.min.css">
		<link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/slick.min.css">
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="static/css/responsive.css">
	</head>



	<body>

		<!--START PAGE WRAPPER-->
		<div class="page-wrapper">
		
			<!-- START PRELOADER -->
			<div class="atf-preloader">
				 <div class="loader">
					<div class="loader-inner box-1"></div>
					<div class="loader-inner box-2"></div>
					<div class="loader-inner box-3"></div>
					<div class="loader-inner box-4"></div>
					<div class="loader-inner box-5"></div>
					<div class="loader-inner box-6"></div>
					<div class="loader-inner box-7"></div>
					<div class="loader-inner box-8"></div>
					<div class="loader-inner box-9"></div>
					<div class="loader-inner box-10"></div>
					<div class="loader-inner box-11"></div>
					<div class="loader-inner box-12"></div>
				</div>
			</div>
			<!-- END PRELOADER	 -->


			<!-- Back to Top Start -->
			<div class="back-to-top">
				<i class="fas fa-long-arrow-alt-up"></i>
			</div>
			<!-- Back to Top End -->
			
			<!-- Start Hamburger area  -->
			<div class="atf-hamburger">
				<div class="atf-hamburger-wrapper">
					<div class="atf-hamburger-header d-flex justify-content-between align-items-center mb-50">
						<div class="atf-hamburger-logo">
						   <a href="index.html"><img src="static/picture/logo.png" alt=""></a>
						</div>
						<div class="atf-hamburger-close">
						   <button class="atf-hamburger-close-toggle"><i class="fa fa-times"></i></button>
						</div>
					</div>
				 
					<div class="atf-hamburger-menu d-block d-xl-none mb-50">
						<nav></nav>
					</div>
				 

					<div class="atf-hamburger-info mb-50">
						<h3 class="atf-hamburger-sm-title">Your Address</h3>
						<span><a href="#"><i class="fa fa-phone me-2"></i> + 654 8954 2345</a></span>
						<span><a href="#"><i class="fa fa-envelope me-2"></i> info@example.com</a></span>
						<span><a href="#"><i class="fas fa-map-marker-alt me-2"></i> United State, Florida</a></span>
					</div>
				 
					<div class="atf-hamburger-social mb-50">
						<h3 class="atf-hamburger-sm-title">Follow Me</h3>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>

			<div class="atf-hamburger-overlay"></div>
			<!-- End Hamburger area  -->


			<!-- START HEADER SECTION-->
			<header class="atf-header-area">
				<div class="atf-top-header d-none d-md-block">
					<div class="container">
						<div class="row align-items-center gx-0">
							<div class="col-xl-2 d-none d-xl-block">
								<div class="atf-header-top-left">
									<a class="atf-site-branding" href="index.html">
										<img src="static/picture/logo.png" alt="Logo">
									</a>
								</div>
							</div><!-- END COL -->

							<div class="col-xl-3 col-lg-4 col-md-3">
								<div class="atf-header-top-right">								
									<div class="atf-header-address-icon">
										<i class="fa fa-mobile"></i>
									</div>
									<div class="atf-header-address-title">
										<h4 class="mb-0">Mobile Number</h4>
										<span>+245 3548 125</span>
									</div>
								</div>
							</div><!-- END COL -->

							<div class="col-xl-6 col-lg-8 col-md-9">
								<div class="atf-search-area">
									<div class="atf-search-form">
										<form id="#" method="get" action="#">
											<input type="text" name="search" value="" placeholder="Search here...">
											<button type="submit">
												<span><i class="fas fa-search"></i></span>
											</button>
										</form>
									</div>
														
									<div class="atf-top-cart-list d-flex align-items-center">
										<div class="atf-cart-icon me-3">
											<a href="cart.html">
												<i class="fa fa-shopping-cart"></i>
												<span class="cart_number">01</span>
											</a>
										</div>
										
										<div class="atf-cart-title">
											<a href="cart.html">
												<h6 class="mb-0">YOUR CART</h6>
												<span><i class="fa-solid fa-dollar-sign"></i>85.45</span>
											</a>
										</div>
									</div>
								</div>
							</div><!-- END COL -->
						</div><!-- END ROW -->
					</div><!-- END CONTAINER -->
				</div>

				<div class="atf-site-header atf-style1 atf-sticky-header">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-6 col-md-5 col-sm-6 col-6 ">
								<div class="atf-site-logo d-flex d-block d-xl-none">
								   <a href="index.html"><img src="static/picture/logo.png" alt="Logo"></a>
								</div>
							</div>
							
							<div class="col-xl-7 d-none d-xl-block">
								<div class="atf-main-menu d-flex justify-content-center">
									<nav class="atf-nav atf-mobile-menu-active">
										<ul class="atf-nav-list">
											<li class="menu-item-children"><a href="index.html">Home <i class="arrow down"></i></a>
												<ul class="sub-menu">
													<li><a href="index.html">Home Default </a></li>
													<li><a href="index1.html">Home Slider</a></li>
													<li><a href="landing-page.html">Landing Page</a></li>
												</ul>
											</li>
											<li><a href="about.html">About</a></li>
											<li class="menu-item-children"><a href="#">Pages  <i class="arrow down"></i></a>
												<ul class="sub-menu">
													<li><a href="about.html">About</a></li>
													<li><a href="shop.html">Shop</a></li>
													<li><a href="blog.html">Blog</a></li>
													<li><a href="faq.html">Faq</a></li>
													<li><a href="contact.html">Contact</a></li>
													<li><a href="404.html">Error</a></li>
												</ul>
											</li>
											<li class="menu-item-children"><a href="#">Product  <i class="arrow down"></i></a>
												<ul class="sub-menu">
													<li><a href="shop.html">Shop</a></li>
													<li><a href="shop-details.html">Shop Details</a></li>
													<li><a href="cart.html">Cart</a></li>
													<li><a href="checkout.html">Checkout</a></li>
												</ul>
											</li>
											<li class="menu-item-children"><a href="#">Blog  <i class="arrow down"></i></a>
												<ul class="sub-menu">
													<li><a href="blog.html">Blog</a></li>
													<li><a href="">Blog Details</a></li>
												</ul>
											</li>
											<li><a href="contact.html">Contact</a></li>
										</ul>
									</nav>
								</div>
								
							</div><!-- END COL -->

							<div class="col-xl-3 col-lg-6 col-md-7 col-sm-6 col-6">
								<div class="atf-header-bottom-right d-flex align-items-center justify-content-end">
									<div class="atf-main-menu-bars d-block d-xl-none">
										<button class="atf-hamburger-toogle">
											<i class="fa fa-bars"></i>
										</button>
									</div>
								</div>
							</div><!-- END COL -->
						</div><!-- END ROW -->
					</div><!-- END CONTAINER -->
				</div>
			</header>
			<!-- END HEADER SECTION-->
			
			<!-- START BREADCRUMB -->
			<section class="breadcrumb-area position-relative breadcrumb-spacing breadcrumb-cover-bg">
				 <div class="container">
					<div class="row justify-content-center text-center">
					   <div class="col-xxl-12">
						  <div class="breadcrumb-content p-relative z-index-2">
							<h3 class="breadcrumb-title">Blog Details</h3>
							 <div class="breadcrumb-single-content mb-2">
								<span><a href="index.html">HOME</a></span>
								<span><i class="arrow down"></i></span>
								<span class="breadcrumb-sub-title">BLOG DETAILS</span>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			</section>
			<!-- END BREADCRUMB -->


			<!-- BLOG POST START -->
			<section id="blogpost" class="blogpost-area atf-section-padding">
				<div class="container">
					<div class="row">
						<div class="col-xxl-8 col-xl-8 col-lg-8">
							<div class="blogpost-wrapper pr-30">
								<div class="blogpost-wrap">
									<div class="blogpost-meta-box mb-10 d-flex align-items-center">
										<div class="blogpost-meta-content mr-30 d-flex align-items-center">
										  <div class="blogpost-meta-icon">
											 <i class="fa-regular fa-comment"></i>
										  </div>
										  <span>02 Comments</span>
										</div>
									   
										<div class="blogpost-meta-content d-flex align-items-center">
										  <div class="blogpost-meta-icon">
											 <i class="fas fa-clock"></i>
										  </div>
										  <span>30 Nov, 2024</span>
									   </div>
									</div>
									<h3 class="blogpost-title mb-30">Nice peaceful colorful rose flowers</h3>
									<div class="blogpost-thumb">
										<img src="static/picture/blog-details.jpg" alt="">
									 </div>
									<div class="blogpost-text mb-30">
									   <p>In neque risus, ultrices eu diam et, blandit fermentum lorem. Nulla eget lorem nec mauris ultrices suscipit et quis augue. Sed erat purus, gravida a semper eget, varius sed tortor. Praesent placerat eros arcu, quis sodales ante iaculis in. Vestibulum rutrum augue eros, vitae tincidunt odio pharetra efficitur. Nunc suscipit quam quis vestibulum convallis. Mauris quis diam nisi. Cras porttitor suscipit porttitor. Nullam facilisis arcu eget nunc tincidunt tincidunt. Sed rutrum metus quis dolor dictum. </p>
									   <p>Quisque ut magna rutrum, porta ligula id, hendrerit urna. Aliquam faucibus tempus ullamcorper. Donec eu sagittis leo. Fusce scelerisque arcu ante. Nullam tempus tellus vitae diam commodo, a malesuada dui volutpat. Curabitur cursus orci condimentum, ornare nisl a, dapibus risus. Quisque consectetur quis ipsum malesuada fermentum. Nam est mi, aliquet id tortor quis, elementum ullamcorper diam. Cras efficitur ut nulla eget iaculis. Mauris nec malesuada purus, quis sollicitudin nibh. Suspendisse rutrum lectus nulla, sit amet rutrum est placerat eu</p>
									</div>
									
									<div class="atf-blog-details-blockquote atf-box-shadow mb-30">
									   <blockquote>
										  <p>Fusce scelerisque arcu ante. Nullam tempus tellus vitae diam commodo, a malesuada dui volutpat </p>
										  <span class="blockquote-info">Jon Doe</span>
									   </blockquote>
									</div>
								
									<div class="blogpost-details-list-text mb-5">
										<div class="blogpost-details-list-content mb-30 d-flex align-items-center">
											<div class="blogpost-details-list-thumb">
												<img src="static/picture/blog-details-1.jpg" alt="blog">
											</div>
											<div class="blogpost-details-list-thumb">
												<img src="static/picture/blog-details-2.jpg" alt="blog">
											</div>
										</div>
										 <p>Curabitur cursus orci condimentum, ornare nisl a, dapibus risus. Quisque consectetur quis ipsum male suada fermentum. Nam est mi, aliquet id tortor quis, elementum ullamcorper diam. Cras efficitur ut nulla eget iaculis. Mauris nec malesuada purus, quis sollicitudin nibh.</p>
									</div>
								</div>
							
								<div class="blogpost-details-share">
									<div class="row align-items-center">
										<div class="col-md-6">
											<div class="blogpost-details-tag-content d-flex align-items-center">
												<h3 class="blogpost-details-tag-title">Tag : </h3>
												<div class="tagcloud blogpost-details-tag">
												   <a href="#">Floweer</a>
												   <a href="#">Rose</a>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="blogpost-details-social d-flex align-items-center justify-content-md-end">
												<h3 class="blogpost-details-tag-title">Share : </h3>
												<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
												<a href="#"><i class="fa-brands fa-instagram"></i></a>
												<a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
												<a href="#"><i class="fa-brands fa-linkedin"></i></a>
											</div>
										</div>
										<div class="atf-post-btn-group mt-20">
										  <a href="#" class="atf-themes-btn"><span>Previous Post</span></a>
										  <a href="#" class="atf-themes-btn"><span>Next Post</span></a>
										</div>
									</div>
								</div>
								
								<div class="blogpost-comment mb-50">
								   <h3 class="blogpost-comment-title mb-50">3 Comments</h3>
									<ul>
										<li>
											<div class="blogpost-comment-box d-sm-flex">
												<div class="blogpost-comment-avater me-4">
												   <img src="static/picture/12.jpg" alt="">
												</div>
												<div class="blogpost-comment-text">
													<div class="blogpost-comment-author-area d-flex justify-content-between mb-10">
														<div class="blogpost-comment-author-title">
														   <h5 class="blogpost-comment-name mb-0">Hafizur Rahman</h5>
														   <span class="blogpost-author-date">02 Dec,24</span>
													   </div>
													   <div class="blogpost-comment-reply">
														  <a href="#">Reply</a>
													   </div>
												   </div>
												   <p>In rhoncus commodo nibh, non rutrum lectus sollicitudin quis. Nam consectetur lectus sed nibh pulvinar varius. Cras nec fermentum</p>
												   
												</div>
											</div>
										</li>
										<li class="children ml-100">
											<div class="blogpost-comment-box d-sm-flex">
												<div class="blogpost-comment-avater me-4">
												   <img src="static/picture/23.jpg" alt="">
												</div>
												<div class="blogpost-comment-text">
													<div class="blogpost-comment-author-area d-flex justify-content-between mb-10">
														<div class="blogpost-comment-author-title">
														   <h5 class="blogpost-comment-name mb-0">Moyna Khatun</h5>
														   <span class="blogpost-author-date">02 Dec,24</span>
														</div>
														<div class="blogpost-comment-reply">
															<a href="#">Reply</a>
														</div>
												   </div>
												   <h5 class="blogpost-comment-name"></h5>
												    <p>In rhoncus commodo nibh, non rutrum lectus sollicitudin quis. Nam consectetur lectus sed nibh pulvinar varius.</p>
												</div>
											</div>
										</li>
										<li>
											<div class="blogpost-comment-box d-sm-flex">
												<div class="blogpost-comment-avater me-4">
												    <img src="static/picture/32.jpg" alt="">
												</div>
												<div class="blogpost-comment-text">
													<div class="blogpost-comment-author-area d-flex justify-content-between mb-10">
														<div class="blogpost-comment-author-title">
														   <h5 class="blogpost-comment-name mb-0">Hasem Uddin</h5>
														   <span class="blogpost-author-date">02 Dec,24</span>
														</div>
														<div class="blogpost-comment-reply">
															<a href="#">Reply</a>
														</div>
												   </div>
												    <p>In rhoncus commodo nibh, non rutrum lectus sollicitudin quis. Nam consectetur lectus sed nibh pulvinar varius. Cras nec fermentum</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							
								<div class="blogpost-comment-from">
								   <h3 class="blogpost-comment-title">Add Your Comment</h3>
								   <p class="blogpost-comment-p mb-30">Your email address will not be published. Required
									  fields are marked *</p>
									<form id="contact-form" action="mail.php" method="POST">
										<div class="atf-contact-form">
											<div class="row">
												<div class="col-xl-4 col-lg-4">
												   <div class="atf_contact_input position-relative">
													  <input type="text" placeholder="Your Name*">
												   </div>
												</div>
												<div class="col-xl-4 col-lg-4">
												   <div class="atf_contact_input position-relative">
													  <input type="email" placeholder="Your Email*">
												   </div>
												</div>
												<div class="col-xl-4 col-lg-4">
												   <div class="atf_contact_input position-relative">
													  <input type="text" placeholder="Your Subject*">
												   </div>
												</div>
												<div class="col-xl-12">
												   <div class="atf_contact_input position-relative">
													  <textarea placeholder="Write Your Comment*"></textarea>
												   </div>
												</div>
												<div class="atf-contact-btn mt-2">
												   <button class="atf-themes-btn">Post Comment</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
				   
					    <div class="col-xxl-4 col-xl-4 col-lg-4 mt-lg-40">
							<div class="sidebar-wrapper">
								<div class="sidebar-widget">
									<div class="sidebar-widget-content">
										<div class="sidebar-search">
										  <form action="#">
											 <div class="sidebar-search-input">
												<input type="text" placeholder="Search...">
												<button type="submit">
												   <i class="fa fa-search"></i>
												</button>
											 </div>
										  </form>
										</div>
									</div>
								</div>
								
								<div class="sidebar-widget sidebar-widget-lp">
									<h3 class="sidebar-widget-title mb-30">Recent Post</h3>
									<div class="sidebar-widget-content">
										<div class="sidebar-post">
											<div class="lp-post d-flex align-items-center">
												<div class="lp-post-thumb">
													<a href="#">
													   <img src="static/picture/13.jpg" alt="">
													</a>
												</div>
												<div class="lp-post-content">
													<h3 class="lp-post-title">
													   <a href="#">Colorful rose flowers under ground brightl</a>
													</h3>
													<div class="lp-meta d-flex align-items-center">
													   <i class="fa-regular fa-comments"></i>
													   <span>02 Comments</span>
													</div>
												</div>
											</div>
											<div class="lp-post d-flex align-items-center">
												<div class="lp-post-thumb">
													<a href="#">
													<img src="static/picture/24.jpg" alt="">
													</a>
												</div>
												<div class="lp-post-content">
													<h3 class="lp-post-title">
													   <a href="#">Begonia succulent plant rhizomes flowers</a>
													</h3>
													<div class="lp-meta d-flex align-items-center">
													   <i class="fa-regular fa-comments"></i>
													   <span>01 Comments</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="sidebar-widget">
									<h3 class="sidebar-widget-title mb-30">Catagories</h3>
									<div class="sidebar-widget-content">
									   <ul>
										  <li><a href="#">Nice Flower Pool<i class="fa fa-angle-right"></i></a>
										  </li>
										  <li><a href="#">Babys Flower<i class="fa fa-angle-right"></i></a>
										  </li>
										  <li><a href="#">Merigold Flower<i class="fa fa-angle-right"></i></a></li>
										  <li><a href="#">Bags Shop<i class="fa fa-angle-right"></i></a></li>
									   </ul>
									</div>
								</div>
								
								<div class="sidebar-widget">
									<h3 class="sidebar-widget-title mb-30">Tags</h3>
									<div class="sidebar-widget-content">
									   <div class="tagcloud">
										  <a href="#">Flower</a>
										  <a href="#">Rose</a>
										  <a href="#">Merigold</a>
										  <a href="#">Pink</a>
										  <a href="#">Sunflower</a>
										  <a href="#">Lily</a>
									   </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- BLOG POST END -->
			
			
			<!-- START FOOTER -->
			<footer id="footer" class="atf-footer-area">
				<div class="container">
					<div class="row atf-section-padding">
						<div class="col-lg-3 col-md-6 col-6 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0.5s">
							<div class="atf-single-footer">
								<h4 class="title">My Account</h4>
								<ul class="atf-list-menu">
									<li><a href="shop.html">Get stared</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="blog.html">Our News</a></li>
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="faq.html">Our Faq</a></li>
								</ul>
							</div>
						</div><!--- END COL -->
						

						<div class="col-lg-3 col-md-6 col-6 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.5s">
							<div class="atf-single-footer">
								<h4 class="title">Customer service</h4>
								<ul class="atf-list-menu">
									<li><a href="shop.html">Get stared</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="blog.html">Our News</a></li>
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="faq.html">Our Faq</a></li>
								</ul>
							</div>
						</div><!--- END COL -->

						
						<div class="col-lg-2 col-md-6 col-12 wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0.5s">
							<div class="atf-single-footer">
								<h4 class="title">Security info</h4>
								<ul class="atf-list-menu">
									<li><a href="#">Refund Policy</a></li>
									<li><a href="#">Terms & Condition</a></li>
									<li><a href="#">Safe & Secure</a></li>
									<li><a href="#">Your Score</a></li>
									<li><a href="#">5K User</a></li>
								</ul>
							</div>
						</div><!--- END COL -->
						<div class="col-lg-4 col-md-6 col-12 wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0.5s">
							<div class="atf-single-footer">
								<h4 class="title">Our Newsletter</h4>
								<div class="atf-single-newsletter text-start">
									<form class="form-group" id="mc-form">
										<input type="email" name="email" id="email" placeholder="Your Email" required="required">
										<button type="submit" id="subscribe-button" class="subcribe-btn"><i class="fas fa-long-arrow-alt-right"></i></button>
										<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
										<br>
										<label class="atf-subscription-label" for="email"></label>
									</form>
								</div>
								
								<h5 class="title mt-1 mb-3 text-capitalize text-white">Payment Gatway</h5>
								
								<div class="atf-footer-payment mt-3">
									<a href="#"><img src="static/picture/1.png" alt="client"></a>
								</div>
							</div>
						</div><!--- END COL -->
					</div><!--- END ROW -->

					<div class="row">
						<div class="col-lg-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.5s">
							<div class="atf-footer-bottom text-center">
								<p>Copyright &copy; 2025.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> </p>
							</div><!--- END COL -->
						</div><!--- END ROW -->
					</div>
				</div><!--- END CONTAINER -->
				<!-- FOOTER SECTION END-->
			</footer>
			<!--- END FOOTER -->
			
		</div>
		<!--END PAGE WRAPPER-->


		<!-- Latest jQuery -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.waypoints.min.js"></script>
		<script src="static/js/bootstrap.bundle.min.js"></script>
		<script src="static/js/gsap.min.js"></script>
		<script src="static/js/slick.min.js"></script>
		<script src="static/js/imagesloaded.pkgd.min.js"></script>
		<script src="static/js/owl.carousel.min.js"></script>
		<script src="static/js/sliderinit.js"></script>
		<script src="static/js/easing.min.js"></script>
		<script src="static/js/scrollTo.min.js"></script>
		<script src="static/js/jquery.appear.min.js"></script>
		<script src="static/js/jquery.marquee.min.js"></script>
		<script src="static/js/nice-select.min.js"></script>
		<script src="static/js/wow.min.js"></script>
		<script src="static/js/form-contact.js"></script>
		<script src="static/js/ajaxchimp.min.js"></script>
		<script src="static/js/script.js"></script>
	</body>
</html>